#########################################
# LLVM Configs
#########################################
DEFAULT_LLVM_PATH=

#########################################
# DingDing rebot Configs
#########################################
# 参考：https://thoughts.aliyun.com/workspaces/66597cc824f406001b6ef466/docs/675b9751a7c8ff00016d92a2
# BOSC_API_KEY=
# BOSC_AT_USER=
# 消息发送服务URL，默认为 http://172.38.8.102:8848
# BOSC_MESSAGE_URL=

#########################################
# SPEC Configs
#########################################
SPEC2006_PATH=
SPEC2017_PATH=

#########################################
# PackSPEC Configs
#########################################
# 是否允许basepeak配置，默认为 False
# 当SPEC cfg文件中设置了 basepeak=yes 时，需要设置为 True 才允许继续
# 否则会抛出 ConfigError 异常
# ALLOW_BASEPEAK=False

#########################################
# QEMU Configs
#########################################
QEMU_PATH=
QEMU_CMD="qemu-riscv64 -s 83886080000" # <QEMU command, e.g. qemu-aarch64, qemu-riscv64, etc.>
