from pack_spec.pack_config import *

#########################################
# LLVM Configs
#########################################
# DEFAULT_LLVM_PATH = "" # <your llvm install abspath>
if DEFAULT_LLVM_PATH == "":
    DEFAULT_LLVM_PATH = os.getenv('LLVM_PATH')
if DEFAULT_LLVM_PATH != None:
    DEFAULT_LLVM_PROFDATA_PATH = os.path.join(DEFAULT_LLVM_PATH, "bin", "llvm-profdata")
else:
    DEFAULT_LLVM_PROFDATA_PATH = None
    
#########################################
# DingDing rebot Configs
#########################################
# 参考：https://thoughts.aliyun.com/workspaces/66597cc824f406001b6ef466/docs/675b9751a7c8ff00016d92a2

# 优先使用环境变量，其次使用配置文件，最后使用默认值
BOSC_API_KEY = os.getenv('BOSC_API_KEY')
# BOSC_API_KEY = "" # <Your BOSC_API_KEY> - 请勿直接在此处设置密钥，使用环境变量

BOSC_AT_USER = os.getenv('BOSC_AT_USER')
# BOSC_AT_USER = "" # <Your Phone Number> - 请勿直接在此处设置手机号，使用环境变量

#########################################
# SPEC Configs
#########################################
SPEC2006_PATH = os.path.join(HOME_PATH, "BOSC", "speccpu2006-v1.0.1")
# SPEC2006_PATH = "" # <Your SPEC2006 Install Path>
if SPEC2006_PATH == "":
    SPEC2006_PATH = os.getenv('SPEC2006_DIR')
if SPEC2006_PATH != None:
    SPEC2006_BENCH_PATH = os.path.join(SPEC2006_PATH, "benchspec", "CPU2006")
    SPEC2006_CONFIG_PATH = os.path.join(SPEC2006_PATH, "config")
else:
    SPEC2006_BENCH_PATH = os.path.join("benchspec", "CPU2006")
    SPEC2006_CONFIG_PATH = os.path.join("config")

# SPEC2017_PATH = "" # <Your SPEC2017 Install Path>
if SPEC2017_PATH == "":
    SPEC2017_PATH = os.getenv('SPEC2017_DIR')
if SPEC2017_PATH != None:
    SPEC2017_BENCH_PATH = os.path.join("benchspec", "CPU2017")
    SPEC2017_CONFIG_PATH = os.path.join("config")
else:
    SPEC2017_BENCH_PATH = os.path.join("benchspec", "CPU")
    SPEC2017_CONFIG_PATH = os.path.join("config")