from pack_spec import *

if __name__ == "__main__":
    # 创建SPEC2006整数基准测试打包实例
    packer = PackSPEC(
        spec_name=SPECName.spec2006,
        # 打包SPEC名称，可选包括：
        #     spec2006: SPEC2006基准套件
        #     spec2017: SPEC2017基准套件
        spec_benches="int",
        # 选择SPEC子集，可选多个子项，使用空格分隔
        # 还可使用以下子集表示方法：
        #     "all": SPEC完整基准套件
        #     "int": SPEC整数基准子集
        #     "fp": SPEC浮点基准子集
        tune_type=TuneType.base,
        # SPEC基准测试优化级别，可选包括：
        #     base: 基础优化级别
        #     peak: 峰值优化级别
        input_type=InputType.ref,
        # SPEC基准测试输入类型
        #     test: 测试输入数据集
        #     train: 训练输入数据集
        #     ref: 参考输入数据集
        iterations=3,
        # 运行测试的次数，主要用于生成运行脚本
        test_core_num=4
        # 运行测试绑定的核心编号，在打包二进制文件时无效
    )

    # SPEC config file name
    spec_config = "bosc-kmh-llvm-peak.cfg"

    # 使用spec进行编译并设置好运行目录
    packer.setup_spec(spec_config)

    # SPEC config 中的 ext
    # label = "bosc-kmh-llvm-peak"
    label = packer.analyze_spec_config(spec_config)

    # 打包二进制文件
    packer.pack_binarys(label)

    # 打包完整测试环境
    packer.pack_benches(label)