from pack_spec import *

if __name__ == "__main__":
    # 创建SPEC2006整数基准测试打包实例
    packer = PackSPEC(
        spec_bench=SPECBench.spec2006int,
        # 打包SPEC类型，可选包括：
        #     spec2006: SPEC2006完整基准套件
        #     spec2006int: SPEC2006整数基准子集
        #     spec2006fp: SPEC2006浮点基准子集
        #     spec2017: SPEC2017完整基准套件
        #     spec2017int: SPEC2017整数基准子集
        #     spec2017fp: SPEC2017浮点基准子集
        action_type=ActionType.run,
        # SPEC基准测试动作类型，可选包括：
        #     build: 构建阶段
        #     run: 运行阶段
        tune_type=TuneType.base,
        # SPEC基准测试优化级别，可选包括：
        #     base: 基础优化级别
        #     peak: 峰值优化级别
        input_type=InputType.ref,
        # SPEC基准测试输入类型
        #     test: 测试输入数据集
        #     train: 训练输入数据集
        #     ref: 参考输入数据集
        iterations=3,
        # 运行测试的次数，主要用于生成运行脚本
        test_core_num=4
        # 运行测试绑定的核心编号，在打包二进制文件时无效
    )

    # 打包二进制文件
    packer.copy_binarys("llvm19-m64")

    # 打包完整测试环境
    packer.copy_benches("llvm19-m64")