#!/bin/bash
# 脚本根目录
SCRIPT_DIR=$(dirname "$(readlink -f "$0")")

#########################################
# LLVM Configs
#########################################
DEFAULT_LLVM_PATH= # <your llvm install abspath>


#########################################
# DingDing rebot Configs
#########################################
# 参考：https://thoughts.aliyun.com/workspaces/66597cc824f406001b6ef466/docs/675b9751a7c8ff00016d92a2
BOSC_API_KEY= # <Your BOSC_API_KEY>
BOSC_AT_USER= # <Your Phone Number>

#########################################
# SPEC Configs
#########################################
SPEC2006_PATH=$SCRIPT_DIR/spec_env/spec2006/speccpu2006-v1.2 # <Your SPEC2006 Install Path>
SPEC2017_PATH= # <Your SPEC2017 Install Path>


export DEFAULT_LLVM_PATH
export BOSC_API_KEY
export BOSC_AT_USER
export SPEC2006_PATH
export SPEC2017_PATH
